/* styles.css */
.custom-scrollbar::-webkit-scrollbar {
  width: 4px; /* Width of the scrollbar */
  height: 2px !important;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: white; /* Background of the track */
}


.custom-scrollbar {
  scrollbar-width: thin; /* Firefox: Set the width to thin */
  scrollbar-color: #459E97 #459E9712; /* Firefox: Set the color of the scrollbar and track */
}